## RANDOM FOREST:
- A random forest is a data construct applied to machine learning that develops large numbers of random decision trees analyzing sets of variables. This type of algorithm helps to enhance the ways that technologies analyze complex data.
## Process:
- Samples seen by each deicision tree is not exactly same
- No. of columns for each decision tree is equal sqrt ( no. o original columns ). Columns will be randomly selected.
- Grow full or depth to have a max_depth
- For Each test sample , predict value from each decision tree

In [17]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [18]:
hr = pd.read_csv('HR Analytics.csv')
hr.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,0,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,0,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,0,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [19]:
# to convert categorical to numeric we use dummies
hr_dummies=pd.get_dummies(hr)
train , test = train_test_split(hr_dummies, test_size=0.3, random_state=100)

hr_dummies.head()

,Age,Attrition,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1,1102,1,2,1,1,2,94,3,...,0,0,1,0,0,0,1,1,0,1
1,49,0,279,8,1,1,2,3,61,2,...,0,1,0,0,0,1,0,1,1,0
2,37,1,1373,2,2,1,4,4,92,2,...,0,0,0,0,0,0,1,1,0,1
3,33,0,1392,3,4,1,5,4,56,3,...,0,1,0,0,0,1,0,1,0,1
4,27,0,591,2,1,1,7,1,40,3,...,0,0,0,0,0,1,0,1,1,0

In [20]:
train_y=train['Attrition']
test_y = test['Attrition']
train_x = train.drop('Attrition',axis=1)
test_x = test.drop('Attrition',axis=1)

In [24]:
rf_model = RandomForestClassifier(random_state=100)
rf_model.fit(train_x,train_y)
test_pred = rf_model.predict(test_x)

In [28]:
df_pred = pd.DataFrame({'actual':test_y,'predicted':test_pred})
df_pred['pred_status']  = df_pred['actual'] ==df_pred['predicted']
print('MODEL ACCURACY: ',+df_pred['pred_status'].sum()/df_pred.shape[0]*100)

MODEL ACCURACY:  85.71428571428571

In [30]:
tp2 = df_pred[(df_pred['predicted']==1) &(df_pred['actual']==1)].shape[0]

# TRUE NEGATIVE

tn2 = df_pred[(df_pred['predicted']==0) &(df_pred['actual']==0)].shape[0]

# FALSE POSITIVE

fp2 = df_pred[(df_pred['predicted']==1) &(df_pred['actual']==0)].shape[0]

#FALSE NEGATIVE

fn2 = df_pred[(df_pred['predicted']==0) &(df_pred['actual']==1)].shape[0]


print('TRUE POSITIVE: %d' %tp2)
print('TRUE NEGATIVE: %d' %tn2)
print('FALSE POSITIVE: %d' %fp2)
print('FALSE NEGATIVE: %d' %fn2)

TRUE POSITIVE: 11
TRUE NEGATIVE: 367
FALSE POSITIVE: 4
FALSE NEGATIVE: 59

In [32]:

Accuracy= (tp2+tn2)/(tp2+tn2+fp2+fn2)
Sensitivity=tp2/(tp2+fn2)
Specificity=tn2/(fp2+tn2)

In [35]:
rf=pd.Series({'TP':tp2,'TN':tn2,'FP':fp2, 'FN':fn2, 'Accuracy': Accuracy, 'Sensitivity':Sensitivity, 'Specificity':Specificity})

In [36]:
RandomForest=pd.DataFrame({'RandomForest':rf})
RandomForest

             RandomForest
TP              11.000000
TN             367.000000
FP               4.000000
FN              59.000000
Accuracy         0.857143
Sensitivity      0.157143
Specificity      0.989218